@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link" }))
    {
        @Html.AntiForgeryToken()

     <a href="javascript:document.getElementById('logoutForm').submit()" style = "text-decoration: none; text-decoration-color: #0A6506; color: #0A6506">Log off</a>
    }
}
else
{
 @Html.ActionLink("Log in", "Login", "Account", null, new { style = "text-decoration:none; text-decoration-color: #0A6506; color:#0A6506", id = "loginLink" , @class = "nav-link" })

}



