@model razansmadi.Models.Comment

@{

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="table-responsive">
            <h2>Details</h2>

            <table class="table table-hover">
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>@Html.DisplayFor(model => model.comment1)</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>@Html.DisplayFor(model => model.Comment_Date)</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Html.DisplayFor(model => model.AspNetUser.Email)</td>
                </tr>
                <tr>
                    <th>Chalet Nmae </th>
                    <td>@Html.DisplayFor(model => model.Chalet.Chalet_Name)</td>
                </tr>
                <tr>
                    <th></th>
                </tr>
            </table>
        </div>
        <p>
            <a href="~/Comments/Index" class="btn btn-default">Back to list</a>
        </p>
    </div>
</div>
