@model IEnumerable<razansmadi.Models.Image>

@{
    Layout = "~/Views/Shared/_OwnersLayout.cshtml";
}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> Chalet </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">All Images</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">

                                <tr>
                                    <th>
                                        Main
                                    </th>
                                    <th>
                                        pool
                                    </th>
                                    <th>
                                        Garden
                                    </th>
                                    <th>
                                        Play Ground
                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Kitchen
                                    </th>
                                    <th>
                                        Livin groom
                                    </th>
                                    <th>
                                        bathroom
                                    </th>
                                    <th>
                                        view
                                    </th>
                                    <th>

                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/img/MainImage/@item.MainImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/poolImage/@item.poolImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/gardenImage/@item.gardenImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/playGroundImage/@item.playGroundImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/roomImage/@item.roomImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/kitchenImage/@item.kitchenImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/livingRoomImage/@item.livingRoomImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/bathroomImage/@item.bathroomImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            <img src="~/img/viewImage/@item.viewImage" class="thumbnail" style="width:50px; height:50px; " />
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Images_ID }, new { @class = "btn btn-primary" })

                                        </td>
                                    </tr>

                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ml-5" href="~/SubAdminChalets/Index/0dfcd31a-12ff-430c-a1a0-a24170377bc9">Back to list</a>

</div>

